[user]
	name = Sanapalli Lokesh
	email = slokesh@akamai.com
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    brr = rev-parse --abbrev-ref HEAD
    di = diff --ignore-space-change
    ll = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    fl = log -u
    rl = reflog --date=format:\"%a %d %b %Y\"
[core]
    excludesfile = /Users/slokesh/.gitignore_global
    editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = /Users/slokesh/.stCommitMsg
